@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Tambahan Konfigurasi Animasi Marquee v4 */
  --animate-marquee: marquee 60s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Paksa tetap putih agar branding tetap bersih */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Utilitas tambahan untuk memastikan container marquee tidak pecah */
.marquee-container {
  display: flex;
  width: max-content;
}